.UserProfile,
.userContainer {
  height: 90vh;
}
.userInfo {
  height: 15vh;
}
.userLeftColumn {
  margin-top: 20px;
  height: 70vh;
}

.userCarosel {
  height: 20vh;
}
.userRightColumn {
  margin-top: 20px;
  height: 70vh;
}
.userH1 {
  font-size: 2.5em;
  margin-bottom: 1rem !important;
}
.userImageContainer {
  max-height: 80%;
}
