/*/////////////////// General Layout ///////////////////*/

.userProfile {
  display: flex;
  height: calc(100% - 3.5em);
  flex-direction: column;
  padding: 15px;
}
.profile-top-container {
  display: flex;
  flex: 2;
}
.profile-bottom-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.profile-left-column {
  flex: 1;
}
.profile-right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
}

/*/////////////////// Books Owned ///////////////////*/

.user-owns-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding-right: 14px;
}
.user-owns-title {
  flex: 1;
  width: 100%;
  align-self: center;
  text-align: center;
  border-bottom: 2px solid black;
}
.user-owns-image-container {
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 8;
  overflow-y: scroll;
  overflow-x: hidden;
}
.user-owns-image-item {
  padding-top: 10px;
  max-width: 33%;
}
.user-owns-image-item img {
  max-width: 90%;
}
.owned-title {
  text-align: center;
}
@media screen and (max-width: 1250px) {
  .user-owns-image-item {
    max-width: 45%;
  }
}

/*/////////////////// Contact Info ///////////////////*/

.userInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.user-info-title {
  flex: 1;
}
.user-info-container {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-info-left {
  flex: 2;
}
.user-info-right {
  flex: 1;
  display: flex;
}

/*/////////////////// We Recommend ///////////////////*/

.userRecommended {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.user-recommended-container {
  flex: 2;
  display: flex;
}
.user-image-container,
.recommended-title,
.user-r {
  flex: 1;
}
.user-summary-container {
  flex: 2;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.user-image-container img {
  /* flex: 0 0 50%; */
  max-width: 100%;
  max-height: 100%;
}
.user-r {
  flex: 1;
}
.user-recommended-description {
  flex: 3;
  overflow-y: scroll;
  overflow-x: hidden;
}
.user-r h4 {
  margin: 0;
}

/*/////////////////// Recommendation Carousel ///////////////////*/

.userCarousel {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.user-carousel-title {
  flex: 1;
}
.user-carousel-image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 5;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 100%;
}
.user-carousel-image-item {
  flex: 1 1 content;
  padding: 0 10px;
}
.user-carousel-image-item img {
  max-height: 90%;
}
/* @media screen and (max-width: 1450px) {
  .user-carousel-image-item {
    max-width: calc(100% / 7);
  }
}
@media screen and (max-width: 1300px) {
  .user-carousel-image-item {
    max-width: calc(100% / 6);
  }
}
@media screen and (max-width: 1100px) {
  .user-carousel-image-item {
    max-width: calc(100% / 5);
  }
}
@media screen and (max-width: 900px) {
  .user-carousel-image-item {
    max-width: 25%;
  }
  .user-carousel-image-container {
    overflow-x: scroll;
    overflow-y: hidden;
  }
} */
