:root {
  --background-grey: #f1f1f1;
  --theme-color-light: #42b5b3;
  --theme-color-dark: #1b5b5a;
  --text-color: #1b5b5a; /*same as theme-color-dark*/
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

* {
  font-weight: normal;
}

.recommender {
  width: 100%;
  height: calc(100% - 3.5em);
  display: flex;
  justify-content: center;
  padding: 1.5em;
  min-width: 0; /* flexbox fix */
}

.recommender .panel {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid var(--theme-color-dark);
  border-radius: 10px;
  min-width: 0; /* flexbox fix */
}

.recommender .panel:nth-child(2) {
  margin: 0 1.5em;
}

.recommender .input-panel,
.recommender .suggestion-panel {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-input-area {
  width: 100%;
  z-index: 9999;
  min-width: 0; /* flexbox fix */
}

.panel .user-input-box {
  border: 1px solid var(--theme-color-dark);
  border-radius: 10px;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  font-size: larger;
  transition: box-shadow 0.3s ease-in-out;
}

.user-input-box:focus {
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(27, 91, 90, 0.5);
}

.user-input-suggestions {
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: var(--background-grey);
}

.suggestion-item {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.suggestion-item .title {
  font-weight: lighter;
}

.suggestion-item:hover {
  margin: 5px -5px;
  border-radius: 0;
  background-color: var(--text-color);
}

.suggestion-item:hover .title {
  color: white;
}

.suggestion-item .thumbnail {
  height: 50px;
}

.suggestion-item .title {
  margin-left: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.added-books-area {
  width: 100%;
}

.book-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100px;
  border: 2px solid var(--theme-color-dark);
  border-radius: 10px;
  margin-bottom: 10px;
}

.book-card .book-details {
  flex-grow: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card .book-details .title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card .thumbnail {
  width: 25%;
  min-width: 25%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-right: 2px solid var(--theme-color-dark);
  border-radius: 10px 0px 0px 10px;
}

.book-card h1.owned {
  cursor: pointer;
  color: var(--theme-color-light);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.book-card h1.owned:hover {
  background-color: var(--theme-color-light);
  color: white;
}

.background-fader {
  filter: blur(0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.searching .background-fader {
  display: block;
  background-color: rgba(241, 241, 241, 0.7);
}

.not-searching .background-fader {
  display: none;
}

.suggestion-list {
  align-items: stretch;
  overflow-y: scroll;
  padding-right: 5px;
}

.suggestion-list::-webkit-scrollbar {
  width: 5px;
  background-color: var(--theme-color-dark);
}

.suggestion-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.suggestion-list::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.suggestion-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--theme-color-dark);
}

.panel-heading {
  text-align: center;
  min-height: 48px;
}
