.header .logo {
  font-weight: bold;
  color: var(--theme-color-light);
  font-size: 2.5em;
}

.header {
  padding: 0 1.5em;
}

.logo {
  flex: 6;
}
nav.header {
  display: flex;
  align-items: center;
  height: 3.5em;
}

.login-container {
  display: flex;
  height: 100%;
  align-items: center;
  flex: 2;
  justify-content: flex-end;
}
.loggedIn {
  padding: 5px;
}
.login-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.login-form h1 {
  flex: 2;
  align-self: center;
  margin: 0;
}
.auth-submit-container {
  flex: 1;
  align-self: center;
  display: flex;
}
.auth-submit-button {
  align-self: flex-end;
}
.form-div {
  display: flex;
  flex: 1;
  justify-content: center;
}
.form-div input {
  width: 60%;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin: 5px 0;
}
.ReactModal__Content {
  height: 40%;
  display: flex;
}
